.FlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120px;
    align-items: flex-start;
    width: 60px;
}

.FlexBlock {
    width: 15px;
    border: 1px solid black;
    text-align: center;

}

._1 {
    order: 1;
}


._7 {
    order: 2;
}


._13 {
    order: 3;
}



._2 {
    order: 4;
}


._14 {
    order: 5;
}

._8 {
    order: 6;
}

._9 {
    order: 7;
}


._3 {
    order: 8;
}

._15 {
    order: 9;
}

._10 {
    order: 10;
}

._16 {
    order: 11;
}

._4 {
    order: 12;
}

._17 {
    order: 13;
}

._5 {
    order: 14;
}


._11 {
    order: 15;
}

._18 {
    order: 16;
}

._12 {
    order: 17;
}

._6 {
    order: 18;
}
