table {
    width: 100%;
    border-spacing: 0px;
}

.TopBot {
    height: 40px;
    background-color: #6495ED;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.main {
    padding: 10px
}

.mid {
    text-align: center;
}

#image {
    float: left;
    padding-right: 10px;
}

#menu {
    background-color: yellow;
    width: 170px;
    padding-top: 10px;
    padding-right: 10px;
}

#Footb {
    text-transform: uppercase;
    font-weight: bold;
}

#backgrnd {
    background-image: url(../img/ball.png);
    background-repeat-x: no-repeat;
    background-position: right;
}

#sport {
    padding-left: 22px;
}

#menubot {
    display: none;
}


@media screen and (max-width: 400px) {
    #menubot {
        display: block;
        background-color: yellow;
        padding-top: 10px;
    }
    
    #menu {
        display: none;
    }
}