ul {
    border: 5px solid WhiteSmoke ;
    width: 200px;
    height: 100%;
    line-height: 50px;
    padding-left: 0px;
    
}

li {
    border: 0.1px solid WhiteSmoke ;
    list-style-type: none;
    text-align: center;
    color: #4169E0;
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}

li:hover {
    color: white;
    background-color: steelblue;
    cursor: pointer;
    border: 0px;
}

