.cell {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	float: left;
	font-size: 40px;
	text-align: center;
}



.one {
    position: relative;
}

.two {
    position: absolute;
    top: 60px;
}

.three {
    position: absolute;
    top: 112px;
}

.four {
    position: absolute;
    top: 164px;
}

.five {
    position: absolute;
    top: 216px;
}

.six {
    position: absolute;
    top: 268px;
}

.seven {
    position: absolute;
    top: 320px;
}

.eight {
    position: absolute;
    top: 372px;
}

.nine {
    position: absolute;
    top: 424px;
}

.ten {
    position: absolute;
    top: 476px;
}

.text {
    font-size: 40px;
    text-align: center;
}

.black {
    background-color: grey;
}

.white {
    background-color: white;
}

.ladya {
    background-image: url(../../assets/img/chess.png);
    background-position-x: -103px;
}

.kon {
    background-image: url(../../assets/img/chess.png);
    background-position-x: -209px;
}

.slon {
    background-image: url(../../assets/img/chess.png);
    background-position-x: -156px;
}

.ferz {
    background-image: url(../../assets/img/chess.png);
    background-position-x: -49px;
}

.korol {
    background-image: url(../../assets/img/chess.png);
    background-position-x: 5px;
    background-repeat: no-repeat;
}
.peshka {
    background-image: url(../../assets/img/chess.png);
    background-position-x: -262px;
    background-repeat: no-repeat;
}

.wh {
    background-position-y: -49px;
    background-repeat: no-repeat;
} 